<header class="nk-header nk-header-opaque">
    <nav class="nk-navbar nk-navbar-top nk-navbar-sticky nk-navbar-autohide">
        <div class="container">
            <div class="nk-nav-table">
                <a href="index.html" class="nk-nav-logo">
                    <img src="assets/images/logonome/logoMag1.1.png" alt="Richard Mendonça" width="199">
                </a>
                <ul class="nk-nav nk-nav-right d-none d-lg-table-cell" data-nav-mobile="#nk-nav-mobile">
                    <li class="nk-drop-item">
                        <a>Projetos</a>
                        <ul class="dropdown">
                            <li class="nk-drop-item">
                                <a>Desenvolvedor</a>
                                <ul class="dropdown">
                                    <li><a href="elements.html">Rio 2030</a></li>
                                    <li><a href="elements.html">Vaccine Race</a></li>
                                    <li><a href="forum.html">WhiteRoom Market</a></li>
                                    <li><a href="forum-single-topic.html">Annie's Sweet Nightmares</a></li>
                                    <li><a href="forum-single-topic.html">Woodyverso Site</a></li>
                                </ul>
                            </li>
                            <li class="nk-drop-item">
                                <a>Game Design</a>
                                <ul class="dropdown">
                                    <li><a href="forum-topics.html">MetainRio</a></li>
                                    <li><a href="forum-topics.html">Rainbow Revenge: Recruit</a></li>
                                    <li><a href="widgets.html">AEJ</a></li>
                                </ul>
                            </li>
                            <li class="nk-drop-item">
                                <a>Gerenciamento</a>
                                <ul class="dropdown">
                                    <li><a href="">GreenCoding Experience</a></li>
                                    <li><a href="">WoodySchool</a></li>
                                    <li><a href="">WoodyStreet</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="">Biografia</a></li>
                    <li><a href="">Jogaveis</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="">Extra</a></li>
                </ul>
                <ul class="nk-nav nk-nav-right nk-nav-icons">
                    <li class="single-icon d-lg-none">
                        <a href="#" class="no-link-effect" data-nav-toggle="#nk-nav-mobile">
                            <span class="nk-icon-burger">
                                <span class="nk-t-1"></span>
                                <span class="nk-t-2"></span>
                                <span class="nk-t-3"></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="nk-nav-mobile" class="nk-navbar nk-navbar-side nk-navbar-right-side nk-navbar-overlay-content d-lg-none">
    <div class="nano">
        <div class="nano-content">
            <a href="index.html" class="nk-nav-logo">
                <img src="assets/images/logonome/logoMag1.1.png" alt="Richard Mendonça" width="120">
            </a>
            <div class="nk-navbar-mobile-content">
                <ul class="nk-nav"></ul>
            </div>
        </div>
    </div>
</div>
