/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.minhalogo {
    position: static;
    height: 100;   
    width: 100px;
} 

.devicon-unity-original {
    position: static;
    height: 60px;   
    width: 30px;
    z-index: 15;
} 
